{% include "header.html" %}

<div class="frame">
    <div class="frame-content">
        <header class="post-header">
            <h1 class="post-title">Collections</h1>
        </header>
        <ul style="list-style: none; text-align: center; padding: 0;">
            {% for term in terms %}
                <li style="margin-bottom: 1rem;"><a href="{{ base_url }}{{ term.path }}" class="read-more">{{ term.name }} ({{ term.pages | length }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include "footer.html" %}