{% include "header.html" %}

<article>
    <h1 style="margin-top: 0;">{{ page.title }}</h1>
    <div class="meta">
        <span class="date">{{ page.date | date("%Y-%m-%d") }}</span>
        {% if page.taxonomies.tags %}
        | Tags:
        {% for tag in page.taxonomies.tags %}
        <a href="{{ base_url }}/tags/{{ tag | slugify }}/" style="border:none;">[{{ tag }}]</a>
        {% endfor %}
        {% endif %}
    </div>

    <div class="content">
        {{ content | safe }}
    </div>
</article>

{% include "footer.html" %}
