{% extends "base.html" %}

{% block content %}
<div class="content" style="margin-bottom: 4rem;">
    <h1>{{ section.title }}</h1>
    {% if section.description %}
        <p>{{ section.description }}</p>
    {% endif %}
    {{ content | safe }}
</div>

<div class="gallery-grid">
    {% for page in section.pages %}
        <div class="gallery-item">
            <div>
                <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                <span class="meta">{{ page.date | default("No Date") }}</span>
            </div>
            <p>{{ page.description | default("") }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}