{% include "header.html" %}
{% include "partials/nav.html" %}
{% include "partials/search.html" %}
<div class="blog-container">
  <main class="blog-main">
    <article class="post sermon">
      <header class="post-header">
        <h1>{{ page.title | e }}</h1>
        <div class="post-meta">
          <time datetime="{{ page.date }}">{{ page.date }}</time>
          <span class="tag" style="margin-left:auto">EPISTLE OF THE KNIFE</span>
        </div>
      </header>
      <div class="post-content">
        {{ content | safe }}
      </div>
      {{ dripping_pillar() }}
    </article>
{% include "footer.html" %}