{% include "header.html" %}
  <main class="site-main">
    {# West Continent #}
    {% set west = site.pages | where(attribute="title", value="West Continent") | first %}
    {% if west %}
      <section class="continent-section west-side" id="west">
        <div class="content-box">
          {{ west.content | safe }}
          <ul class="link-list">
            {% for link in west.extra.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endif %}

    {# Hub (The Isthmus) #}
    <section class="continent-section hub" id="isthmus">
      <div class="isthmus-path"></div>
      <div class="content-box">
        {{ content | safe }}
      </div>
    </section>

    {# East Continent #}
    {% set east = site.pages | where(attribute="title", value="East Continent") | first %}
    {% if east %}
      <section class="continent-section east-side" id="east">
        <div class="content-box">
          {{ east.content | safe }}
          <ul class="link-list">
            {% for link in east.extra.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endif %}
  </main>
{% include "footer.html" %}
