<!-- post.html -->
{% include "header.html" %}
<article>
    <h1 class="post-title">{{ page.title | e }}</h1>
    <div class="post-meta">
        {% if page.date is defined %}{{ page.date | date(format="%Y-%m-%d") }}{% endif %}
        {% if page.taxonomies is defined and page.taxonomies.authors is defined %}
            by {% for author in page.taxonomies.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endif %}
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
</article>
{% include "footer.html" %}