{% include "header.html" %}
<article class="open-book">
  <div class="entry-body">
    {{ content }}
  </div>
  <section class="catalog">
    <h2><em>This Volume&rsquo;s</em> Catalogue</h2>
    <div class="catalog-grid">
      {% for post in site.pages | sort_by(attribute="date", reverse=true) %}
      {% if post.section == "breaks" %}
      <div class="catalog-entry">
        <svg class="entry-crack" viewBox="0 0 40 400" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M 20 0 C 18 60 24 100 16 160 C 22 220 14 280 22 340 L 20 400" fill="none" stroke="#8a3020" stroke-width="1" stroke-dasharray="4 3"/>
        </svg>
        <div class="entry-meta">
          <span>{% if post.date %}{{ post.date | date(format="%d %b %Y") }}{% endif %}</span>
          <span>{{ post.extra.break | default(value="--") }}</span>
        </div>
        <div class="entry-title-small"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% if post.description %}<div class="entry-summary">{{ post.description }}</div>{% endif %}
        <div class="entry-foot">
          <span>{{ post.extra.gathering | default(value="Quire I") }}</span>
          <span>{{ post.extra.condition | default(value="Worn") }}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</article>
{% include "footer.html" %}
