{% include "header.html" %}

    <div class="container">
      <div class="section-header">
        <h1>{{ section.title }}</h1>
      </div>

      {{ content | safe }}

      <ul class="post-list">
        {% for item in section.pages %}
        <li class="post-item">
          <a href="{{ base_url }}{{ item.url }}">
            <div class="post-date">{{ item.date }}</div>
            <div class="post-title">{{ item.title }}</div>
            {% if item.description %}
            <div class="post-desc">{{ item.description }}</div>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>

      {{ pagination }}
    </div>

{% include "footer.html" %}
