{% include "header.html" %}
  <article class="post-article">
    <header class="post-header">
      <h1>{{ page.title | e }}</h1>
      <div class="post-meta">
        <time>{{ page.date }}</time>
        {% if page.taxonomies.tags %}
          <span class="tags">
            {% for tag in page.taxonomies.tags %}
              <a href="{{ base_url }}/tags/{{ tag | slugify }}/">#{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </header>
    <div class="post-content">
      {{ content }}
    </div>
    <div class="shape shape-zigzag"></div>
  </article>
{% include "footer.html" %}
