{% include "header.html" %}

<div class="breadcrumbs">
    <a href="{{ base_url }}">Home</a> <span class="separator">/</span>
    <span style="text-transform: capitalize;">{{ taxonomy_name }}</span>
</div>

<h1>All <span style="text-transform: capitalize;">{{ taxonomy_name }}</span></h1>

<div style="margin-top: 2rem;">
    {% for term in taxonomy_terms %}
    <a href="{{ base_url }}/{{ taxonomy_name }}/{{ term | slugify }}" class="tag" style="font-size: 1rem; padding: 0.5rem 1rem;">
        {{ term }}
    </a>
    {% endfor %}
</div>

{% include "footer.html" %}
