{% include "header.html" %}
<div class="blog-container">
  <div class="bismuth-panel">
    <main class="site-main">
      <h1>{{ page.title | e }}</h1>
      <p class="taxonomy-desc">Posts tagged with this term:</p>
      {% if term is defined and term.pages is defined %}
        <ul>
          {% for p in term.pages %}
            <li><a href="{{ p.permalink }}">{{ p.title | e }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ content }}
    </main>
  </div>
</div>
{% include "footer.html" %}