    <footer class="foot">
      <div class="big">Harvest <span class="b">Moon</span>.</div>
      <div class="grid">
        <div>
          <h4>The House</h4>
          <a href="{{ base_url }}/about/">Atelier &amp; Practice</a>
          <a href="#">Sourcing &amp; Fibres</a>
          <a href="#">Stockists</a>
        </div>
        <div>
          <h4>Read</h4>
          <a href="{{ base_url }}/tags/">Journal</a>
          <a href="#">Lookbook &mdash; Vol. IV</a>
          <a href="#">Letters</a>
        </div>
        <div>
          <h4>Care</h4>
          <a href="#">Wool, Linen &amp; Silk</a>
          <a href="#">Repair &amp; Mend</a>
          <a href="#">Returns</a>
        </div>
        <div>
          <h4>Correspondence</h4>
          <a href="#">studio@harvestmoon.house</a>
          <a href="#">Press &amp; Editorial</a>
          <a href="#">Open Studio &mdash; Fridays</a>
        </div>
        <div class="copy">
          <span>&copy; {{ current_year }} Harvest Moon House &mdash; Set in Fraunces</span>
          <span>Issue IV. Hand-bound in Seoul.</span>
        </div>
      </div>
    </footer>
  </div>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
