{% extends "base.html" %}
{% block content %}
<div class="glass-panel main-article">
    <header class="page-header">
        <h1 class="gradient-text">{% if taxonomy_term is defined %}#{{ taxonomy_term.name }}{% endif %}</h1>
    </header>
    <div class="gallery-preview">
        {% if taxonomy_pages is defined %}
            {% for page in taxonomy_pages %}
            <a href="{{ page.url }}" style="text-decoration: none;">
                <div class="glass-panel card">
                    <div class="card-inner">
                        <h3>{{ page.title }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}