{% include "header.html" %}
    <article>
      <header class="article-top">
        <div class="label">Slab &middot; {{ page.extra.grade | default(value="C30") }} &middot; Poured {% if page.date %}{{ page.date | date("%Y.%m.%d") }}{% endif %}</div>
        <h1>{{ page.title }}</h1>
        {% if page.description %}<div class="desc">{{ page.description }}</div>{% endif %}
        <div class="meta">
          {% if page.extra.grade %}<span><span class="l">Grade</span>{{ page.extra.grade }}</span>{% endif %}
          {% if page.extra.load %}<span><span class="l">Load</span>{{ page.extra.load }}</span>{% endif %}
          {% if page.reading_time %}<span><span class="l">Read</span>{{ page.reading_time }} min</span>{% endif %}
        </div>
      </header>
      <div class="article-body">
        <aside class="sidebar">
          <span class="lbl">Reference</span>
          {% if page.tags %}Tags<br>{% for t in page.tags %}#{{ t }}<br>{% endfor %}{% endif %}
        </aside>
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </article>
{% include "footer.html" %}
