{% include "header.html" %}
  <main class="site-main">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <ul class="blog-list">
      {% for post in section.pages %}
      <li>
        <a href="{{ base_url }}{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date("%Y-%m-%d") }}</span>
        {% if post.description %}
        <div class="post-summary">{{ post.description }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {{ pagination }}
  </main>
{% include "footer.html" %}
