{% include "header.html" %}
    <header>
      <h1><a href="{{ base_url }}/">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>

    <nav>
      <ul>
        <li><a href="{{ base_url }}/about/">about</a></li>
        <li><a href="{{ base_url }}/posts/">posts</a></li>
        <li><a href="{{ base_url }}/tags/">tags</a></li>
        <li><a href="{{ base_url }}/rss.xml">rss feed</a></li>
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>
{% include "footer.html" %}
