<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Term: {{ term }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ base_url }}/css/style.css">
</head>
<body class="theme-dark">
  {% include "header.html" %}
  <main class="taxonomy-term-content">
    <h1 class="page-title">Tagged: {{ term }}</h1>
    <ul class="post-list">
      {% if pages is defined %}
      {% for p in pages %}
      <li><a class="post-link-title" href="{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </main>
  {% include "footer.html" %}
</body>
</html>