{% include "header.html" %}
<section class="taxonomy">
  <p class="catalogue-eyebrow">The Index of</p>
  <h1 class="catalogue-title" data-letter-stagger>{{ taxonomy_name | capitalize }}</h1>
  <div class="fleuron-rule" aria-hidden="true">
    <svg class="fleuron fleuron-lg"><use href="#fleuron-1"/></svg>
  </div>
  <p class="catalogue-subtitle">All terms gathered under this drawer of the case</p>

  <ul class="term-cloud">
    {% for term in taxonomy_terms %}
    <li class="term-cloud-item">
      <a href="{{ base_url }}/{{ taxonomy_name }}/{{ term.name | slugify }}/" class="term-link">
        <span class="term-name">{{ term.name }}</span>
        <span class="term-count">{{ term.pages | length }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="fleuron-rule" aria-hidden="true">
    <svg class="fleuron fleuron-md"><use href="#fleuron-2"/></svg>
  </div>
</section>
{% include "footer.html" %}
