{% extends "base.html" %}

{% block title %}{{ term.name }} | {{ site.title }}{% endblock %}

{% block content %}
<section class="taxonomy-term-content">
    <header class="term-header">
        <h1 class="term-title">#{{ term.name }}</h1>
    </header>

    <div class="item-list">
        {% for item in term.pages %}
        <article class="list-item">
            <h2 class="item-title"><a href="{{ site.base_url }}{{ item.permalink }}">{{ item.title }}</a></h2>
            {% if item.date %}
            <div class="item-meta">
                <time datetime="{{ item.date }}">{{ item.date | date("%Y-%m-%d") }}</time>
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
