{% include "header.html" %}
  <main class="page-content">
    <section class="obelisk-section">
      <header class="section-header">
        <h1 class="title">{{ page.title | e }}</h1>
      </header>
      <div class="content">
        {{ content | safe }}
      </div>
      <div class="grid-list">
        {% for p in section.pages %}
        <article class="grid-item">
          <h2 class="item-title"><a href="{{ base_url }}{{ p.permalink }}">{{ p.title | e }}</a></h2>
          {% if p.description %}
          <p class="item-desc">{{ p.description | e }}</p>
          {% endif %}
        </article>
        {% endfor %}
      </div>
    </section>
  </main>
{% include "footer.html" %}
