    <footer class="site-footer">
      <div>&copy; {{ current_year }} &middot; {{ site.title }}</div>
      <div class="ornament">
        <svg width="72" height="12" viewBox="0 0 72 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <polygon points="0,0 12,0 6,12" fill="currentColor"/>
          <polygon points="20,0 32,0 26,12" fill="currentColor"/>
          <polygon points="40,0 52,0 46,12" fill="currentColor"/>
          <polygon points="60,0 72,0 66,12" fill="currentColor"/>
        </svg>
      </div>
      <div>Chrome / Silver / Steel</div>
    </footer>
  </div>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
