{% extends "base.html" %}
{% block content %}
<h1 style="font-family: 'Abril Fatface'; font-size: 80px; color: var(--gold); text-align: center;">{{ section.title }}</h1>
<div style="margin-top: 4rem;">
  {% for page in section.pages %}
  <div class="credits-roll" style="margin-bottom: 4rem;">
    <h2 style="font-family: 'Abril Fatface'; font-size: 48px;"><a href="{{ page.permalink }}" style="color: var(--white); text-decoration: none;">{{ page.title }}</a></h2>
    <p>{{ page.description }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
