{% include "header.html" %}
<header class="preamble">
  <div class="label">Apparatus</div>
  <h1>{{ taxonomy_name | default(value="Tags") | capitalize }} <em>index</em></h1>
  <p class="lede">All terms gathered from the corpus of folios.</p>
</header>
<ul class="index-list">
  {% for term in taxonomy_terms %}
  <li>
    <a class="row" href="{{ term.url }}">
      <span class="num">№ {% if loop.index < 10 %}0{% endif %}{{ loop.index }}</span>
      <div>
        <h3>{{ term.name }}</h3>
        <p>{{ term.pages_count }} entr{% if term.pages_count == 1 %}y{% else %}ies{% endif %} in the index</p>
      </div>
      <span class="date">/{{ taxonomy_name }}/{{ term.slug }}/</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% include "footer.html" %}
