{% include "header.html" %}

<div class="taxonomy-term-header">
  <h1 class="taxonomy-term-title">Posts tagged "{{ taxonomy_term }}"</h1>
</div>

<div class="taxonomy-term-content" style="margin-top: 3rem;">
  <ul class="archive-list">
    {% for post in taxonomy_pages %}
      <li class="archive-item">
        <a href="{{ base_url }}{{ post.url }}">{{ post.title }}</a>
        <span class="archive-date">{{ post.date | date("%b %d, %Y") }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

{% include "footer.html" %}
