{% include "header.html" %}

<section class="front four-oh-four">
  <div class="censor-line">
    <span class="censor-bar">[ item missing :: <span class="censor-text">last seen, issue --</span> ]</span>
    <span class="censor-date">404</span>
  </div>
  <h1 class="front-headline">this item was retyped, then lost in transit.</h1>
  <p class="front-deck">the bulletin makes no copies of itself. you will have to ask the previous retyper. they may, or may not, remember.</p>
  <pre class="paper-rule">--------------------------------------------------------</pre>
  <a class="paper-back" href="{{ base_url }}/">[ back to the front ]</a>
</section>

{% include "footer.html" %}
