{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h2>{{ page.title | e }}</h2>
        {% if page.date %}
        <div class="metadata">
            Published on {{ page.date | date("%Y-%m-%d") }}
        </div>
        {% endif %}
        {% if page.tags %}
        <div class="metadata">
            {% for tag in page.tags %}
            <a href="{{ base_url }}tags/{{ tag }}/" class="tag-pill">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    <div class="content">
        {{ content | safe }}
    </div>
</article>
{% endblock %}