{% extends "base.html" %}

{% block content %}
    <h1>{{ taxonomy_name | default(value="Taxonomy") | title }}</h1>

    <div class="content-grid">
        {% if taxonomy and taxonomy.terms %}
            {% for t in taxonomy.terms %}
                <article class="card">
                    <h3 class="card-title"><a href="{{ base_url }}{{ t.path }}">{{ t.name }}</a></h3>
                    <p class="card-desc">{{ t.pages | length }} items</p>
                </article>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}