{% extends "base.html" %}

{% block content %}
<div class="glowing-article">
    <header class="article-header">
        <h1 class="glow-text">Taxonomies</h1>
    </header>
    
    <div class="article-body">
        <ul>
            {% for taxonomy in site.taxonomies %}
                <li>
                    <a href="{{ site.base_url }}/{{ taxonomy.name }}" class="glow-text" style="text-transform: capitalize;">{{ taxonomy.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
