<header class="frost-header">
    <div class="header-content">
        <a href="{{ base_url }}/" class="logo">
            <svg class="snowflake-icon" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <g stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round">
                    <path d="M50 10 L50 90 M10 50 L90 50 M21.7 21.7 L78.3 78.3 M21.7 78.3 L78.3 21.7" />
                    <path d="M50 25 L40 15 M50 25 L60 15 M50 75 L40 85 M50 75 L60 85" />
                    <path d="M25 50 L15 40 M25 50 L15 60 M75 50 L85 40 M75 50 L85 60" />
                </g>
            </svg>
            <span class="site-title">{{ site.title }}</span>
        </a>
        <nav class="main-nav">
            <a href="{{ base_url }}/" class="nav-link">Home</a>
            <a href="{{ base_url }}/blog/" class="nav-link">Journal</a>
            <a href="{{ base_url }}/about/" class="nav-link">About</a>
        </nav>
    </div>
</header>
