{% extends "base.html" %}

{% block content %}
<section class="taxonomy-content">
  <header class="page-header">
    <h1 class="page-title">Taxonomy: {{ taxonomy.name | capitalize | e }}</h1>
  </header>
  <ul class="taxonomy-terms">
    {% for term in terms %}
      <li>
        <a href="{{ base_url }}/{{ taxonomy.name }}/{{ term.slug }}/" class="term-link">
          {{ term.name | e }} <span class="term-count">({{ term.pages | length }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
