{% include "header.html" %}
      <div class="posts">
        {% for post in section.pages %}
        <article class="post">
          <header class="post__header">
            <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post__meta">
              {% if post.date %}<span class="post__time">{{ post.date }}</span>{% endif %}
              {% if post.categories %}
                &nbsp;&middot;&nbsp;
                {% for cat in post.categories %}
                  <a href="{{ base_url }}/categories/{{ cat | slugify }}/">{{ cat }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </header>
          {% if post.description %}
          <div class="post__summary">
            <p>{{ post.description }}</p>
          </div>
          {% endif %}
          <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
        </article>
        {% endfor %}
      </div>
      {{ pagination }}
{% include "footer.html" %}
