<li class="ride-row">
  {% if r.date %}<p class="ride-date"><time datetime="{{ r.date | date("%Y-%m-%d") }}">{{ r.date | date("%b %d, %Y") }}</time></p>{% endif %}
  <div class="ride-main">
    <h2 class="ride-title"><a href="{{ base_url }}{{ r.url }}">{{ r.title | e }}</a></h2>
    {% if r.description %}<p class="ride-standfirst">{{ r.description | e }}</p>{% endif %}
  </div>
  {% if r.extra.distance_km %}
  <p class="ride-figures">
    <span class="ride-figure">{{ r.extra.distance_km }}<em>km</em></span>
    <span class="ride-figure">+{{ r.extra.elevation_m }}<em>m</em></span>
  </p>
  {% endif %}
</li>
