{% include "header.html" %}
<main>
    <h2 class="article-title">{{ section.title }}</h2>
    <div class="content">
        {{ content | safe }}
    </div>
    <ul class="post-list">
    {% if section.pages is defined %}
        {% for p in section.pages %}
        <li>
            <a href="{{ p.url }}">{{ p.title }}</a>
            {% if p.description is defined %}
            <p>{{ p.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    {% endif %}
    </ul>
</main>
{% include "footer.html" %}