<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="color-scheme" content="dark light">
  <meta name="description" content="{{ page.description }}">
  <title>{{ page.title }} - {{ site.title }}</title>
  {{ og_all_tags }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/console.css">
  {{ highlight_css }}
  {{ auto_includes_css }}
</head>
<body>
  <div class="container">
    <header>
      <div class="menu">
        <ul>
          <li><a href="{{ base_url }}/">Home</a></li>
          <li><a href="{{ base_url }}/about/">About</a></li>
        </ul>
      </div>
    </header>
