<div class="pricing-card{% if featured == "true" %} featured{% endif %}">
  {% if featured == "true" %}<div class="pricing-popular">Most Popular</div>{% endif %}
  <div class="pricing-name">{{ name }}</div>
  <div class="pricing-price">{{ price }}<span>/mo</span></div>
  <div class="pricing-desc">{{ description }}</div>
  <ul class="pricing-features">
    {% if f1 %}<li><svg class="check-icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>{{ f1 }}</li>{% endif %}
    {% if f2 %}<li><svg class="check-icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>{{ f2 }}</li>{% endif %}
    {% if f3 %}<li><svg class="check-icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>{{ f3 }}</li>{% endif %}
    {% if f4 %}<li><svg class="check-icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>{{ f4 }}</li>{% endif %}
    {% if f5 %}<li><svg class="check-icon" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>{{ f5 }}</li>{% endif %}
  </ul>
  <a href="#" class="pricing-btn{% if featured == "true" %} pricing-btn-featured{% endif %}">Get Started</a>
</div>
