  <footer class="site-footer">
    <div class="footer-inner">
      <div class="footer-brand">CAGE MATCH // BATTLE EVENT</div>
      <div class="footer-links">
        <a href="{{ base_url }}/">Arena</a>
        <a href="{{ base_url }}/bouts/">Bouts</a>
        <a href="{{ base_url }}/rules/">Rules</a>
      </div>
      <div class="footer-powered">
        Powered by <a href="https://hwaro.hahwul.com">Hwaro</a>
      </div>
    </div>
  </footer>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
