{% include "header.html" %}
  <main class="site-main">
    <div class="exhibition-intro">
      {{ content | safe }}
    </div>

    <p class="exhibition-works-heading">Works in this exhibition</p>
    <ul class="works-list">
      {% for work in site.pages | sort_by("weight") %}
      {% if work.section == "works" %}
      <li>
        <a href="{{ base_url }}{{ work.url }}" class="work-link">
          <span class="work-title">{{ work.title }}</span>
          <span class="work-artist">{{ work.extra.artist }}</span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </main>
{% include "footer.html" %}
