{% include "header.html" %}
<div class="prose">
  {% if page.title is present %}<h1>{{ page.title | e }}</h1>{% endif %}
  {{ content | safe }}
</div>
<div class="entries">
  {% for post in section.pages %}
  <div class="row">
    <div class="d">{{ post.date | date(format="%Y-%m-%d") }}</div>
    <div class="t"><a href="{{ post.url }}">{{ post.title | e }}</a></div>
    <div class="x">// {{ post.section | default("page") }}</div>
  </div>
  {% endfor %}
</div>
{{ pagination }}
{% include "footer.html" %}
