    <footer class="foot">
      <div class="big">Trail <em>Bureau.</em><small>Field office for the long walk &mdash; est. 2014</small></div>
      <div class="grid">
        <div>
          <h4>Office</h4>
          <a href="{{ base_url }}/about/">Charter &amp; Practice</a>
          <a href="#">Field staff</a>
          <a href="#">Visit the office</a>
        </div>
        <div>
          <h4>Goods</h4>
          <a href="#">Maps &amp; charts</a>
          <a href="#">Pack &amp; shell</a>
          <a href="#">Repair counter</a>
        </div>
        <div>
          <h4>Reports</h4>
          <a href="{{ base_url }}/tags/">Field journal</a>
          <a href="#">Conditions today</a>
          <a href="#">Quarterly index</a>
        </div>
        <div>
          <h4>Correspondence</h4>
          <a href="#">office@trail.bureau</a>
          <a href="#">Telegraph &mdash; newsletter</a>
          <a href="#">Hours &mdash; Wed&ndash;Sun</a>
        </div>
        <div class="copy">
          <span>&copy; {{ current_year }} Trail Bureau &middot; Field office, small outfitter</span>
          <span>Set in Source Serif &middot; Printed on paper that survives the weather</span>
        </div>
      </div>
    </footer>
  </div>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
