    <footer class="foot">
      <div class="big">Rosetta <em>Script.</em><small>Reading-first &middot; translated by ear</small></div>
      <div class="grid">
        <div>
          <h4>The Reader</h4>
          <a href="{{ base_url }}/">Today&apos;s page</a>
          <a href="#">Daily extract &mdash; mailing</a>
          <a href="#">Levels A1&ndash;C1</a>
        </div>
        <div>
          <h4>The Library</h4>
          <a href="{{ base_url }}/tags/">All scripts</a>
          <a href="#">Translators</a>
          <a href="#">Submissions</a>
        </div>
        <div>
          <h4>The Method</h4>
          <a href="{{ base_url }}/about/">How we translate</a>
          <a href="#">The reading practice</a>
          <a href="#">Why no machine</a>
        </div>
        <div>
          <h4>Correspondence</h4>
          <a href="#">desk@rosetta.script</a>
          <a href="#">Translators&apos; circle</a>
          <a href="#">Office hours &mdash; Tuesdays</a>
        </div>
        <div class="copy">
          <span>&copy; {{ current_year }} Rosetta Script &middot; A reading practice in five tongues</span>
          <span>Set in Source Serif, Noto Serif KR / JP &amp; Amiri</span>
        </div>
      </div>
    </footer>
  </div>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
