{% include "header.html" %}

<section class="hero">
  <h1 class="hero__title">{{ site.title }}</h1>
  <p class="hero__subtitle">{{ site.description }}</p>
  <div class="hero__rule"></div>
  <div class="hero__intro">
    {{ content | safe }}
  </div>
</section>

<section class="recent">
  <h2 class="recent__heading">Recent Essays</h2>
  <ol class="essay-list">
    {% for post in site.pages %}
      {% if post.section == "posts" %}
      <li class="essay-list__item">
        <a href="{{ base_url }}{{ post.url }}" class="essay-list__link">
          <span class="essay-list__title">{{ post.title }}</span>
          {% if post.date %}
          <time class="essay-list__date" datetime="{{ post.date | date('%Y-%m-%d') }}">{{ post.date | date("%B %d, %Y") }}</time>
          {% endif %}
          {% if post.description %}
          <span class="essay-list__desc">{{ post.description }}</span>
          {% endif %}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ol>
  <div class="recent__more">
    <a href="{{ base_url }}/posts/" class="btn">All Essays</a>
  </div>
</section>

{% include "footer.html" %}
