{% include "header.html" %}
<div class="shell">
  {% include "_sidebar.html" %}
  <main class="shell-content">
    <article class="article" id="top">
      <div class="crumbs">
        <a href="{{ base_url }}/">Home</a>
        <span class="sep">/</span>
        {% if page.extra.section_label is defined %}
          <span>{{ page.extra.section_label }}</span>
        {% else %}
          <span>{{ page.title }}</span>
        {% endif %}
      </div>
      {% if page.extra.section_number is defined %}
        <div class="section-marker">{{ page.extra.section_number }}</div>
      {% endif %}
      <h1>{{ page.title }}</h1>
      {{ content | safe }}
      <ol class="section-list">
        {% for p in section.pages | sort(attribute="weight") %}
          <li>
            <a href="{{ base_url }}{{ p.url }}">
              <span class="num">{% if p.extra.section_number is defined %}{{ p.extra.section_number }}{% else %}--{% endif %}</span>
              <span>
                <span class="t">{{ p.title }}</span>
                {% if p.description %}<div class="d">{{ p.description }}</div>{% endif %}
              </span>
            </a>
          </li>
        {% endfor %}
      </ol>
    </article>
  </main>
  {% include "_toc.html" %}
</div>
{% include "footer.html" %}
