{% include "header.html" %}

<main>
  <div class="section-header african-border">
    <div class="container">
      <h1>{{ taxonomy.name | title }}</h1>
    </div>
  </div>

  <div class="container">
    <ul class="taxonomy-list">
      {% for term in terms %}
      <li>
        <a href="{{ base_url }}/{{ taxonomy.name }}/{{ term.slug }}/">
          {{ term.name }}<span class="taxonomy-count">({{ term.pages | length }})</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% include "footer.html" %}
