{% set hangul = hangul | default("") %}
{% set roman = roman | default("") %}
{% set gloss = gloss | default("") %}
{% set particle = particle | default("") %}
{% set particle_roman = particle_roman | default("") %}
<div class="ex">
  <p class="ex-line ex-hangul" lang="ko">{% if particle %}{{ hangul | replace(particle, '<mark class="ex-particle">' ~ particle ~ '</mark>') | safe }}{% else %}{{ hangul }}{% endif %}</p>
  <p class="ex-line ex-roman">{% if particle_roman %}{{ roman | replace(particle_roman, '<mark class="ex-particle">' ~ particle_roman ~ '</mark>') | safe }}{% else %}{{ roman }}{% endif %}</p>
  <p class="ex-line ex-gloss">{{ gloss }}</p>
</div>
