{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ site.title }}{% endblock title %}

{% block content %}
<article class="single-post" style="grid-column: 1 / -1;">
    <header>
        <h1>{{ page.title }}</h1>
        {% if page.date %}
        <div class="meta">
            <time datetime="{{ page.date }}">Published on {{ page.date | date(format="%B %d, %Y") }}</time>
        </div>
        {% endif %}
    </header>

    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
{% endblock content %}
