{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ site.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            <span>{{ page.date | date("%B %d, %Y") }}</span>
        </div>
        <div class="content">
            {{ content | safe }}
        </div>
        {% if page.taxonomies is defined and page.taxonomies.tags is defined %}
            <div class="tags">
                {% for tag in page.taxonomies.tags %}
                    <a href="{{ base_url }}/tags/{{ tag | lower | replace(" ", "-") }}/" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}