    </main>
    <footer class="ap-footer">
      <div class="ap-foot-strip">
        <span>NOT A GRID</span>
        <span>NOT A SYSTEM</span>
        <span>NOT EVEN SORRY</span>
        <span>WE LIED ABOUT THE NOT SORRY</span>
      </div>
      <div class="ap-foot-cols">
        <div class="ap-foot-col ap-foot-a">
          <h4>Made by</h4>
          <p>Several people who do not always agree, including, occasionally, themselves.</p>
        </div>
        <div class="ap-foot-col ap-foot-b">
          <h4>Set in</h4>
          <p>Bungee, Syne, Fraunces, Space Mono, Caveat, Anton. Yes, all six. <a href="{{ base_url }}/posts/six-fonts-on-a-page/">We wrote about it</a>.</p>
        </div>
        <div class="ap-foot-col ap-foot-c">
          <h4>Subscribe</h4>
          <p>Via <a href="{{ base_url }}/rss.xml">RSS</a>. We have not built a newsletter. We will not build a newsletter.</p>
        </div>
      </div>
      <div class="ap-foot-mark">
        <span class="ap-foot-c1">&copy;</span>
        <span class="ap-foot-y">{{ current_year }}</span>
        <span class="ap-foot-s">{{ site.title }}</span>
        <span class="ap-foot-h">// built with Hwaro // do not align this</span>
      </div>
    </footer>
  </div>
</body>
</html>
