    <footer class="site-footer">
      <div class="footer-inner">
        <div class="footer-left">
          <span class="footer-brand">Tremor Seismic Observatory</span>
          <span class="footer-sep">|</span>
          <span class="footer-copy">2026 All Rights Reserved</span>
        </div>
        <div class="footer-right">
          <span class="footer-powered">Powered by <a href="https://github.com/hahwul/hwaro">Hwaro</a></span>
        </div>
      </div>
    </footer>
  </div>
  {{ highlight_js }}
  {{ auto_includes_js }}
</body>
</html>
