{% include "header.html" %}
<section class="section-listing">
  <div class="section-head">
    {% if page.title is present %}
      <div class="head-num">SECTION</div>
      <h2 class="head-title">{{ page.title | e }}</h2>
    {% endif %}
  </div>
  <div class="prose-body">
    {{ content | safe }}
  </div>
  <ul class="section-list">
    {% for post in section.pages %}
      <li class="section-row">
        <span class="row-date">{{ post.date | date(format="%Y / %m") }}</span>
        <a class="row-title" href="{{ post.url }}">{{ post.title | e | upper }}</a>
        <span class="row-arrow">&rarr;</span>
      </li>
    {% endfor %}
  </ul>
</section>
{{ pagination }}
{% include "footer.html" %}
