<aside class="sidebar">
  <h4>Start here</h4>
  <ul>
    <li><a href="{{ base_url }}/docs/installation/">Installation</a></li>
    <li><a href="{{ base_url }}/docs/your-first-page/">Your first page</a></li>
    <li><a href="{{ base_url }}/docs/configuration/">Configuration</a></li>
  </ul>

  <h4>Concepts</h4>
  <ul>
    <li><a href="{{ base_url }}/docs/sections-and-pages/">Sections &amp; pages</a></li>
    <li><a href="{{ base_url }}/docs/templates/">Templates</a></li>
    <li><a href="{{ base_url }}/docs/taxonomies/">Taxonomies</a></li>
  </ul>

  <h4>Guides</h4>
  <ul>
    <li><a href="{{ base_url }}/guides/build-pipeline/">The build pipeline</a></li>
    <li><a href="{{ base_url }}/guides/i18n/">Internationalization</a></li>
    <li><a href="{{ base_url }}/guides/deploying/">Deploying to a CDN</a></li>
  </ul>

  <h4>Reference</h4>
  <ul>
    <li><a href="{{ base_url }}/docs/cli/">CLI reference</a></li>
    <li><a href="{{ base_url }}/docs/template-filters/">Template filters</a></li>
  </ul>
</aside>
