{% include "header.html" %}

<div class="shell">
  {% include "_sidebar.html" %}
  <main class="main">
    <div class="crumb"><a href="{{ base_url }}/">Lobby</a><span class="sep">◆</span><span class="here">{{ taxonomy_name }}</span></div>
    <h1>All {{ taxonomy_name }}</h1>
    <div class="deco-rule small"><span class="lozenge"></span></div>
    <div class="content">
      <ul class="term-list">
      {% for term in taxonomy_terms %}
        <li><a href="{{ base_url }}{{ term.url }}">{{ term }}</a> <span class="term-count">{{ term.pages | length }} entries</span></li>
      {% endfor %}
      </ul>
    </div>
  </main>
  <aside class="toc"></aside>
</div>

{% include "footer.html" %}
