<aside class="wiki-sidebar">
  <div class="sidebar-section">
    <span class="sidebar-section-title">Getting Started</span>
    <ul class="sidebar-links">
      <li><a href="{{ base_url }}/docs/getting-started/installation/">Installation</a></li>
      <li><a href="{{ base_url }}/docs/getting-started/quick-start/">Quick Start</a></li>
      <li><a href="{{ base_url }}/docs/getting-started/configuration/">Configuration</a></li>
    </ul>
  </div>
  <div class="sidebar-section">
    <span class="sidebar-section-title">Guides</span>
    <ul class="sidebar-links">
      <li><a href="{{ base_url }}/docs/guides/content-management/">Content Management</a></li>
      <li><a href="{{ base_url }}/docs/guides/templates/">Templates</a></li>
      <li><a href="{{ base_url }}/docs/guides/deployment/">Deployment</a></li>
    </ul>
  </div>
  <div class="sidebar-section">
    <span class="sidebar-section-title">Reference</span>
    <ul class="sidebar-links">
      <li><a href="{{ base_url }}/docs/reference/cli-commands/">CLI Commands</a></li>
      <li><a href="{{ base_url }}/docs/reference/front-matter/">Front Matter</a></li>
      <li><a href="{{ base_url }}/docs/reference/shortcodes/">Shortcodes</a></li>
    </ul>
  </div>
</aside>
