{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h2>Recent Bindings</h2>
        <div class="post-list">
            {% for page in pages %}
                <article>
                    <h3><a href="{{ site.base_url }}/{{ page.slug }}/">{{ page.title }}</a></h3>
                    <div class="post-meta">
                        {% if page.date %}
                            Published on {{ page.date | date(format="%B %d, %Y") }}
                        {% endif %}
                    </div>
                    {% if page.summary %}
                        <p>{{ page.summary }}</p>
                    {% endif %}
                    <a href="{{ site.base_url }}/{{ page.slug }}/" style="font-size: 0.9em; font-style: italic;">Read Full Entry &rarr;</a>
                </article>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}