{% include "header.html" %}
  <main class="site-main">
    <div class="section-page">
      <span class="cue-tag">CUE / SPEAKERS</span>
      <h1 class="section-title">{{ page.title | e }}</h1>
      <div class="wave-rule" aria-hidden="true">
        <svg viewBox="0 0 800 12" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0,6 Q20,0 40,6 T80,6 T120,6 T160,6 T200,6 T240,6 T280,6 T320,6 T360,6 T400,6 T440,6 T480,6 T520,6 T560,6 T600,6 T640,6 T680,6 T720,6 T760,6 T800,6" fill="none" stroke="#ff3a2d" stroke-width="1.5"/>
        </svg>
      </div>
      {{ content }}
      <ul class="section-list">
        {{ section.list }}
      </ul>
      {{ pagination }}
    </div>
  </main>
{% include "footer.html" %}
