        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    &copy; {{ current_year }} {{ site.title }}. ESTABLISHED IN THE URBAN CORE.
                </div>
                <div class="footer-right">
                    POWERED BY <a href="https://hwaro.hahwul.com">HWARO</a>.
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ base_url }}/js/search.js"></script>
    {{ highlight_js | safe }}
</body>
</html>
