{% extends "base.html" %}

{% block content %}
<div class="content-box">
    <h1>Term: {{ term.name }}</h1>

    <ul class="item-list">
        {% for item in term.pages %}
        <li>
            <h2 class="item-title"><a href="{{ item.permalink }}">{{ item.title }}</a></h2>
            {% if item.date %}
            <span class="meta">{{ item.date | date("%B %d, %Y") }}</span>
            {% endif %}
            {% if item.description %}
            <p>{{ item.description }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
