{# Repeat shortcode: forces textual repetition as prayer/obsession #}
{# Usage: repeat(phrase="...", times=4)  #}
<div class="echo-block">
  {% set phrase = phrase | default(body) | e %}
  <span class="echo-text">
    <span class="layer" style="opacity:0.82; position:relative; left:0;">{{ phrase }}</span><br>
    <span class="layer" style="opacity:0.61; position:relative; left:2px;">{{ phrase }}</span><br>
    <span class="layer" style="opacity:0.41; position:relative; left:5px;">{{ phrase }}</span><br>
    <span class="layer" style="opacity:0.23; position:relative; left:8px;">{{ phrase }}</span><br>
    <span class="layer" style="opacity:0.11; position:relative; left:11px;">{{ phrase }}</span>
  </span>
</div>